.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# ignore sample pcap files!
**/*cap
**/*capng
/wifi-capture.sh
/ethertypes.txt
/gradlew
/gradlew.bat
/log/
/gradle/
/settings.gradle
/macpartials.txt
/bin/
src/main/resources/.gitignore
.settings/
.classpath
.project
.gitignore